 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/* background */
.background {
    background-color: #840b22de;
    height: 100vh;
    max-height: 100vh;
}
/* container */
.container {
    width: 1400px;
    margin: 0px auto;
    background-color: rgb(231, 231, 231);
}

/* utilities */
.txt-center {
    text-align: center;
}

.flex {
    display: flex;
}

.flex-center {
    justify-content: center;
}

.display {
    opacity: 1;
} 

.hidden {
    opacity: 0;
}



/* texting and spacing utilities */
h1 {
    color:white;
    text-transform: uppercase;
    font-size: 28px;
}

.pad-top100 {
    padding-top: 100px;
}

.pad-top30 {
    padding-top: 30px;
}

.pad-bot30 {
    padding-bottom: 30px;
}

/* info list UL */
#generatore #info-list {
    list-style: none;
}

#generatore #info-list li {
    margin: 15px 30px;    
}

#generatore #info-list label {
    display: block;
}
