 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/* background */

/* container */
.container {
    width: 1400px;
    margin: 0px auto;
    padding-top: 50px;
    background-color: #840b22de;
}

/* utilities */
.txt-center {
    text-align: center;
}

.flex {
    display: flex;
}

.flex-center {
    justify-content: center;
}

.display {
    opacity: 1;
} 

.hidden {
    opacity: 0;
}

h1 {
    color:white;
    text-transform: uppercase;
    font-size: 28px;
}

/* info list UL */
#generatore #info-list {
    list-style: none;
}

#generatore #info-list li {
    
}

#generatore #info-list
